* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}
/*=============  The Grid  =====================*/
#grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1.25fr;
    grid-template-rows: 70px 5fr 8fr 3fr;
    background-color: #FFFFFF;
}

#header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    height: 100%;
}

#banner {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
    height: 100%;
}

#section {
    background-color: #FFFFFF;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    row-gap: 20px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin-top: -20px;
}

#footer {
    background-color: #502419;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-top: 3.5em;
    width: 100%;
    height: 85%;
}

#h_navBar {
    background-color: #FFFFFF;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 100%;
    height: 15%;
}

/*=============  Stylings  =====================*/

#banner {
    background: no-repeat left center/100%  url("img/conference_premium.jpg");
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

#logo {
    width: max-content;
    float: left;
    margin: 10px auto auto 10px;
}

#h_side-nav{
    width: max-content;
    float: right;
    margin: 10px 10px auto auto;
}

#side-nav {
    margin: 0;
    list-style-type: none;
}

#side-nav > li {
    float: left;
    margin-left: 15px;
    font-size: 1.2em;
    line-height: 2.5em;


}

#main_pane {
    display: grid;
    box-shadow: 0 0 1rem rgba(0,0,0,0.15) !important;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
}

#mp_titel {
    margin-bottom: 25px;
}

#date_picker {
    width: 70%;
    margin: 20px auto auto auto;
}

#dp_left {
    padding: 5px;
    float: left;
    font-size: 2em;
}

#dp_date {
    font-size: 1.5em;
}

#dp_right {
    padding: 5px;
    float: right;
    font-size: 2em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover, a:active, .active{
    text-decoration: underline;
    color: #545759;
}

.panes {
    padding: 1.8rem 8px 0 30px !important;
    width: max-content;
    margin: auto;
}

#f_wrapper {
    width: 70%;
    margin: auto;
}

.f_box {
    width: 25%;
    padding: 20px;
    float: left;
    margin-right: 20px;
    color: #F2F2F2;
}

.card {
    width: 220px;
    float: left;
    margin-right: 20px;
    box-shadow: 0 0 1rem rgba(0,0,0,0.15) !important;
    border-radius: 10px;
    padding: 0.5rem;
    text-align: left;
}

#avatar {
    width: 100px;
    margin: auto;
    box-shadow: 0 0 1rem rgba(0,0,0,0.15) !important;
    border-radius: 10px;
    padding: 0;
}

.img_widget {
    width: 100%;
    height: auto;
}

.form-control {
    float: right;
}

.form-label {
    float: left;
    padding: 10px;
}

.form-group {
    display: flow-root;
}

.form-date {
    padding: 6px;
}

.btn-primary {
    background-color: #7EA172;
    border: 1px solid gainsboro;
    border-radius: 7px;
    padding: 5px 10px;
    background-color: #7D7C84;
    color: #FFFFFF;
}

button:hover, input[type=submit]:hover {
    opacity: 0.5;
}

.medium {
    width: 100px;
}

.success {
    color: forestgreen;
}


