body {
    width: 80%;
    margin: auto;
    font-family:"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol",sans-serif;
    font-size:100%;
}

#banner {
    width: 100%;
    height: 300px;
    background: no-repeat bottom/100%  url("../img/webdev.jpg");
}

header,footer,section,article, aside{
    margin:2px;
    margin-bottom:5px;
    padding:1%;
}

div.container{
    border-right: 1px solid gray;
    padding: 1%;
}

header,footer {
    clear: both;
	margin-bottom:5px;
}

section {
    margin: 0;
    float: left;
    width: 60%;
}

aside {
    margin: 0;
    width: 35.7%;
    float: right;
}

footer {
    float: bottom;
}

ol ol {
   list-style-type: lower-alpha; 
   font-size:0.9em;
}


ul li{
    padding: 1%;
}


